@import 'fonts';
@import 'variables';
@import 'mixins';

// Styles Body
body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/BG-transparent-2.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 60vmax;
}

// Navigation / navbar
.custom-nav {
    .navbar-brand {
        img {
            width: 30px;
            height: 30px;
            margin-top: -5px;
        }
        span {
            color: $primaryColor;
            font-weight: 700;
            font-size: 1.4rem;
            margin-left: 0.4em;
        }
    }

    #navbarNav {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $whiteText;
                    font-weight: 600;
                    text-transform: uppercase;
                    margin-left: 2.4em;
                    @media screen and (max-width: 992px){
                        color: $secondaryColor;
                    }
                    &:hover{
                        color: darken($primaryColor, 30%);
                        transition: .3s color ease;
                    }
                }
                .sign-up-btn {
                    @include tombol;
                }
            }
        }
    }
    @media screen and (max-width: 992px){
        margin-top: -1em;       
    }
}

// Custom Section
.custom-section {
    margin-top: 10em;
    h2 {
        @include text2;
    }
    h3 {
        @include text3;
    }
    p {
        color: $textColor;
        font-size: 1.5rem;
        margin-top:2em;      
    }
    a {
        margin-top: 2em;
        @include tombol;
        border: 1px solid transparent;
        transition: 0.5s ease;
        &:hover{
            color: $primaryColor;
            border: 1px solid $primaryColor;
            background-color: transparent;
        }
     }
     @media screen and (max-width:992px) {
         margin-top: 1em;
         text-align: center;
         h2, h3, p {
             text-shadow: 1px 1px 2px rgba($textColor, 0.3);
         }
         h3 {
             color: lighten($textColor, 3%);
         }
         p {
             margin-top: 1em;
             color: darken($textColor, 10%);
         }
     }
}

// Projects Section
#projects {
   margin-top: 27em;
   h2{
        @include text2;
   }
   @media screen and (max-width: 992px){
        margin-top: 2em;
   }
}

// Contact Section
#contact{
    background-color: $purpleBgColor;
    h2{
       @include text2;
    }    
}

// Footer
#footer{
    background-color: $secondaryColor;
    padding-bottom:  5em;
    font-size: 500;
    @media screen and (max-width:992px) {
        padding-bottom: 3em;
    }

}
section{
    padding-top: 3rem;
}